<!-- <h1 [ngClass]="myClass">Structural And Attribute Directives</h1>
<br>
<button (click)="changeFlag()">Show or Hide Div</button>
<br>
<div *ngIf="flag">
  My Div
</div><br>
  <button (click)="change()">Hide</button>
  <div *ngIf="fla" [ngStyle]="myStyle">  
  <br>
  <ul>
    <li *ngFor="let vec of vehicles" (click)="setSelectedItem(vec)">{{vec}}</li>
  </ul>
<br>
<h2><b>You have selected : {{selectedVehicle}}</b></h2>
<div [ngSwitch]="selectedVehicle">
  <font color="green " *ngSwitchCase="'TwoWheeler'">Bike</font>
  <font color="green " *ngSwitchCase="'ThreeWheeler'">Auto</font>
  <font color="green " *ngSwitchCase="'FourWheeler'">Car</font>
  <font color="red" *ngSwitchDefault>Invalid</font>
</div>
<br>
<button (click)="changeStyle()">ChangeBorder</button><br>
</div><br>
<button (click)="changecolor()">Changecolor</button>

<br><br> -->
<table width="80%" align="center">
  <tr><th><a routerLink="home">Home</a></th>
    <th><a routerLink="contact">Contact</a></th>
    <th><a routerLink="about">About</a></th>
</tr>
</table>
<div>
  This is the space for New Component 
  <router-outlet></router-outlet>
  <h1>
    Addition: {{sum}}
  </h1>
  <h1>
    Subtraction: {{sub}}
  </h1>
  <h1>
    Multiplication: {{multi}}
  </h1>
  <h1>
    Factorial: {{fact}}
  </h1>
</div>
<p>CHILD </p>
<app-child></app-child>



