<h1>Interpolation Example</h1>
<br>
 <!-- <app-child1></app-child1> -->
<br>
Name:{{name}}
<br>
age:{{age}}
<br>
Email:{{email}} <br>
<b><br>
  Name : {{ name }}
  <br><br>
  age :{{age}}
  <br><br>
 
  Email <input type="text" value = "{{email}}"/>
  <h1>Property Binding Example</h1>
  <br>
  Name <input type="text" [value]="name">
  <br><br>
  Age <input type="text" [value]="age">
  <br><br>Email <input type="text" [value]="email">
  <h1>Event Binding Example</h1>
  <button (click)="ChangeName()">ChangeName</button><br>
  <button (click)="ChangeAge()">ChangeAge</button><br>
  <button (click)="ChangeEmail()">ChangeEmail</button><br>
  <br><img [src]="imagePath" alt="" width="300" height="200">
  <br>
  <button (click)="ChangeImage()">ChangeImage</button>
  <br>
  <h1>Two way Data Binding </h1>
  <br>Enter the text<input type="text" [(ngModel)]="fname" >
  <p>Hello {{fname}}</p>
</b>