h1{
    border: 3px solid rgb(8, 5, 95);
    text-align: center;
    width: 50%;
    color: black;
    background-color: paleturquoise;
    cursor: pointer;
    position: absolute;
    left: 300px;
}
h1:hover{
    background-color:bisque;
                color: rebeccapurple;
                border-radius: 90px;
}